env/*
local
*.pyc

ideal_bibliographic_catalogue/settings_local.py
ideal_bibliographic_catalogue/parameters.py

db.sqlite3
database.db
secret_key*

static/*

__pycache__/*

*.mo
assets/ckeditor/
.well-known/